@import "../../variable";

.desserts {
  width: 100%;
  &__wrapper {
    display: flex;
  }
  &__title {
    width: 176px;
    margin-left: 112px;
    margin-top: 88px;
    color: rgb(38, 15, 8);
    font-family: $red-hat;
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
  }

  &__select {
    &-button {
      background: none;
      width: 30.5px;
      height: 30.5px;
      border: 2px solid rgb(255, 255, 255);
      background: none;
      border-radius: 100%;
    }
  }
  &__list {
    width: 58%;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-left: 72px;
    margin-top: -10px;
    margin-bottom: 88px;
    &-item {
      list-style-type: none;
      margin-top: 11px;
    }
  }
  &__button {
    position: absolute;
    margin-top: -26px;
    margin-left: 45.33px;
    width: 160px;
    height: 44px;
    box-sizing: border-box;
    border: 1px solid rgb(173, 138, 133);
    border-radius: 999px;

    background: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    color: rgb(38, 15, 8);
    font-family: $red-hat;
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    cursor: pointer;

    &-group {
      width: 160px;
      height: 44px;
      border-radius: 999px;
      position: absolute;
      margin-top: -30px;
      margin-left: 45.33px;
      background: rgb(199, 59, 15);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &__button:hover {
    box-sizing: border-box;
    border: 1px solid rgb(199, 59, 15);
    border-radius: 999px;

    background: rgb(255, 255, 255);
    color: rgb(199, 59, 15);
  }

  &__text {
    &-type {
      margin-top: 35px;
      color: rgb(135, 99, 90);
      font-family: $red-hat;
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0%;
      text-align: left;
    }

    &-name {
      color: rgb(38, 15, 8);
      font-family: $red-hat;
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0%;
      text-align: left;
      margin-top: 3px;
    }

    &-price {
      color: rgb(199, 59, 15);
      font-family: $red-hat;
      font-size: 16px;
      font-weight: 600;
      line-height: 21px;
      letter-spacing: 0%;
      text-align: left;
      margin-top: 4px;
    }
  }
  &__img {
    border-radius: 8px;
    width: 250.67px;
    height: 240px;
    &-wrapper {
      width: 250px;
    }
  }
}
.deserts__select-inc {
  cursor: pointer;
  margin-top: 7px;
  margin-right: 13px;
}
.deserts__select-dec {
  cursor: pointer;
  margin-top: 7px;
  margin-left: 13px;
}
.deserts__select-count {
  color: rgb(255, 255, 255);
  font-family: $red-hat;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 12px;
}
.div {
  display: none;
}

@media screen and (min-width: 1900px) {
  .desserts {
    &__wrapper {
      justify-content: center !important;
    }
    &__title {
      margin-left: 263px;
    }
    &__list {
      width: 50%;
    }
  }
}

@media screen and (max-width: 1500px) {
  .desserts {
    &__list {
      &-item:nth-child(-n + 3) {
        margin-top: 15px;
      }
      &-item:nth-child(n + 4):nth-child(-n + 7) {
        margin-top: 9px;
      }

      &-item:nth-child(n + 7):nth-child(-n + 9) {
        margin-top: 8px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .desserts {
    padding: 40px;

    &__list {
      margin: 0;
      padding: 0;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &__title {
      margin: 0;
    }
    &__wrapper {
      flex-direction: column;
    }
  }
}
